* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.end{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    padding: 15px 0px ;
    color: rgb(255, 255, 255);

}
.navbar .container{
    padding: 0;
}

.col-12{
    padding: 0;
}

.clothes{
    margin: 15px 0px;
}

.section_name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: rgb(45, 129, 203);
}
.card{
    transition: .3s;
}
.card:hover{
    box-shadow:2px 2px 16px rgb(35, 154, 223);
}

.navbar-nav{
    margin-left: auto;
}

.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(45, 129, 203);
}

.navbar-brand:hover{
    color:  rgb(45, 129, 203);
}

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb(45, 129, 203);
    text-transform: uppercase;
}





footer{
    background-color: rgb(45, 129, 203);
    margin: 20px 0px 0px 0px ;
}

